html,body
{
    height:100%;
}

.overflow-auto
{
    overflow: auto;
}

.bg-dark-gray
{
    background-color: darkgray;
}
.bg-light-gray
{
    background-color: lightgray;
}
.box-white
{
    box-sizing: border-box;
    width: 100%;
    border: solid lightgray 10px;
    padding: 5px;
    background-color: white;
}

.height10
{
    height: 10vh !important;
}
.height80
{
    height: 80vh !important;
}
.height90
{
    height: 90vh !important;
}

.no-margin
{
    margin: 0;
}
.no-padding
{
    padding: 0 !important;
}
.no-border
{
    border: none;
}
.align-middle
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}